@import 
url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

html{
  font-family: "Hi Melody", sans-serif;
  font-size: 20px
  font-weight:100;
}
footer{
  font-size:0.7rem;
}

article{
  display: block;
  width:300px;
  height:600px
  text-allign:center;
  border:3px solid yellow;
  background-color: gray;
}

article :first-child{
  background-color:gray;
}

article:last-child{
  background-color:lightyellow;
}

article  div{
  width:250px;
  boder:2px solid yellow;
  padding:50px 10px 30px 20px;
  fomt-family:"Hi Melody";
  line-height:1.6;
}

article div::before{
  content:'[영화소개] ';
  font-weight: bold;
  color: darkgreen;
}

article  div::after{
  content:' (생략)'";
  font-style: italic;
  color: lightgreen;
}
h3{
        color:hotpink;
      }
      *{
        color:lightblue;
      }
      h5{
        color:lightfray;
      }
a:link{
  text-decoration: none;
}
a:hover{
  /*text-decoration: underline;*/
  background-color:blue;
  color:white;

}
a:active{
  background-color: hotpink;
  color:white;
}

div #header_title{
  display:block;
  width:100vw;
  text_align:center;
  background-color:black;
  color:white;
  fomt-family:"Hi Melody"
  font-weight:bold;
  font-size:3rem
}


